<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Cadastro</h1>
    <form method="post" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <input type="text" placeholder="Nome" name="nome-usuario"><br>
        <input type="text" placeholder="email" name="email"><br>
        <input type="text" placeholder="senha" name="senha"><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>